body {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.logo-topo:hover {
    transform: scale(1.1);
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    right: 0px;
    top: 110px;
    width: 400px;

}

nav li {
    display: inline;
    margin-left: 15px;

}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: cadetblue;
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: cadetblue;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: chartreuse;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
    margin-top: 10px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url("../imagens/bg.jpg");
}

.imagem-logo-footer:hover {
    transform: scale(1.05);
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

main {}

.local-imagem {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form label,
legend,
form p {
    display: inline;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: inline;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

textarea,
fieldset {
    margin-bottom: 10px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: steelblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    text-align: center;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: skyblue;
    transform: scale(1.2);
}



table {
    margin: 20px 0 40px;
    position: absolute;
    right: 155px;
    bottom: 100px;
    transform: scale(1.5);

}

thead {
    background-color: teal;
    color: white;
    font-weight: bold;
}

td,
th {
    border: 1px solid black;
    padding: 8px 15px;
}

.test {
    display: inline-block;
    position: relative;
    width: auto;
}

.test2 {
    display: inline;
    top: 500px;
}

.barbearia {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    clear: left;
    /*color: rgba(0, 0, 0, 0.9);*/
}

.titulo-principal:first-letter {
    font-weight: bold;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 900px;
    margin: auto;
}

.principal p {
    margin-bottom: 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}


.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #88888888);
}

.mapa-conteudo {
    width: 900px;
    margin: auto;
}

.mapa p {
    margin-bottom: 2em;
    text-align: center;
}

.beneficios {
    padding: 3em 0;
    background: #88888888;
}

.imagem-beneficios {
    width: 60%;
    opacity: 0.7;
    transition: 400ms;
    box-shadow: 10px 10px 10px black;
}

.imagem-beneficios:hover {
    opacity: 1;
}

.video {
    width: 560px;
    margin: 2em auto;

}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5em;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "★"
}

@media screen and (max-width: 480px) {

    .caixa,
    .principal,
    .conteudo-beneficios,
    .mapa,
    .video {
        width: auto;
    }

    .mapa-conteudo,
    .video-conteudo,
    .imagem-beneficios {
        width: 80%;
        margin: 1em 2em;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        width: auto;
    }

    .lista-beneficios {
        width: 100%;
    }


}



/*
img~p {
    background: orchid;
}

.principal p:not(#missão) {
    background: orange;
}
*/
/*nth-chiel (2n) par (2n-1)*/

/*
main > p{}: altera o filho direto
img+p{}:altera o primeiro p depois da img
img~p{}: altera todos os p depois de uma img
.principal p:not(#missao){} método de exclusão 
*/

/*.teste{
    width: calc(40% - 25px)
}*/